<a href="https://colab.research.google.com/github/adrianbahtiar55/COVID-19-and-its-effect-on-the-stock-market-/blob/main/COVID_19_stock_market_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Installing alpha_vantage**

In [1]:
!pip install alpha_vantage

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting alpha_vantage
  Downloading alpha_vantage-2.3.1-py3-none-any.whl (31 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from alpha_vantage) (2.27.1)
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 10.1 MB/s eta 0:00:00
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->alpha_vantage) (23.1.0)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (264 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 264.6/264.6 kB 10.2 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->alpha_vantage) (2.0.12)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (158 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.8/158.8 kB 6.7 MB/s eta 0:00:00
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->alpha_vantage) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->alpha_vantage) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->alpha_vantage) (1.26.15)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, alpha_vantage
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 alpha_vantage-2.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 yarl-1.8.2

**2. Import necessary libraries and read the daily confirmed cases and deaths into two dataframes:**

In [2]:
import pandas as pd

confirmed_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
deaths_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

confirmed_df = pd.read_csv(confirmed_cases_url)
deaths_df = pd.read_csv(deaths_url)

**3. Use pandas to create a dataframe that aggregates and sums both confirmed cases and deaths on a global level:**

In [3]:
confirmed_global = confirmed_df.iloc[:, 4:].sum(axis=0)
deaths_global = deaths_df.iloc[:, 4:].sum(axis=0)

global_df = pd.DataFrame({"Confirmed": confirmed_global, "Deaths": deaths_global})
global_df.index = pd.to_datetime(global_df.index)

**4. Research stocks for each industry and store them in a dictionary:**

In [4]:
stocks = {
    "SPY": "Overall American Market",
    "XIU.TO": "Overall Canadian Market",
    "AAL": "Travel Sector",
    "VNQ": "Real Estate Sector",
    "GLD": "Precious Metals"
}

**5. Use AlphaVantage (the stock API used earlier in the course) to get the daily high and low prices for your selected stocks:**

In [7]:
from alpha_vantage.timeseries import TimeSeries

api_key = "Y97V5IF3M9KZJSRZ" 

ts = TimeSeries(api_key, output_format="pandas")

stock_data = {}

for symbol, name in stocks.items():
    data, _ = ts.get_daily_adjusted(symbol, outputsize="compact")
    data = data[["2. high", "3. low"]]
    stock_data[name] = data

In [ ]:
print(stock_data)

**6. Append stock data to the global_df dataframe:**

In [9]:
for name, data in stock_data.items():
    global_df = global_df.join(data.rename(columns={"2. high": f"{name} High", "3. low": f"{name} Low"}), how="inner")

In [10]:
global_df

,Confirmed,Deaths,Overall American Market High,Overall American Market Low,Overall Canadian Market High,Overall Canadian Market Low,Travel Sector High,Travel Sector Low,Real Estate Sector High,Real Estate Sector Low,Precious Metals High,Precious Metals Low
2022-11-25,641037771,6630892,402.91,401.535,31.31,31.14,14.7000,14.3500,87.0600,86.570,163.4300,162.765
2022-11-28,641977647,6633172,400.81,395.110,31.24,30.92,14.4399,13.8200,86.9600,84.510,163.0600,161.910
2022-11-29,642708342,6634772,397.30,393.300,31.14,30.97,14.1600,13.8300,86.2183,84.510,163.6299,162.600
2022-11-30,643244123,6636401,407.68,393.480,31.29,30.81,14.4450,13.9300,88.1400,85.270,164.8100,162.400
2022-12-01,643950364,6638794,410.00,404.750,31.55,31.31,14.5693,13.9324,89.3800,87.170,167.9500,166.975
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-03,675914580,6877325,404.45,399.030,31.28,30.94,16.5500,16.1400,87.1250,86.060,172.5950,170.980
2023-03-06,676082941,6878115,407.45,404.010,31.31,31.12,16.5500,16.1000,87.4100,86.385,172.3700,171.540
2023-03-07,676213378,6879038,404.67,397.625,31.20,30.71,16.6600,16.1400,86.6100,84.390,170.4700,168.520
2023-03-08,676392824,6880483,399.71,396.590,31.01,30.79,16.6000,16.2701,86.0400,84.490,169.5900,168.520
2023-03-09,676570149,6881802,401.48,390.530,31.03,30.45,16.8000,15.8450,85.7600,83.395,170.6500,169.710